In [21]:
# import all libraries required
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import percentile
from scipy import stats
import scipy.stats as scp

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
#Load the csv files into pandas dataframe
Salesdata=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Sales_data_zone_wise.csv')
#Display the dataset
Salesdata

         Month  Zone - A  Zone - B  Zone - C  Zone - D
0    Month - 1   1483525   1748451   1523308   2267260
1    Month - 2   1238428   1707421   2212113   1994341
2    Month - 3   1860771   2091194   1282374   1241600
3    Month - 4   1871571   1759617   2290580   2252681
4    Month - 5   1244922   1606010   1818334   1326062
5    Month - 6   1534390   1573128   1751825   2292044
6    Month - 7   1820196   1992031   1786826   1688055
7    Month - 8   1625696   1665534   2161754   2363315
8    Month - 9   1652644   1873402   1755290   1422059
9   Month - 10   1852450   1913059   1754314   1608387
10  Month - 11   2004480   1740365   1317869   1970069
11  Month - 12   1537539   1875658   1237722   1460165
12  Month - 13   1254939   1588473   1348629   1733383
13  Month - 14   1821799   1844081   1617376   1872259
14  Month - 15   1128185   1804613   1767047   1234311
15  Month - 16   1491534   1542053   1882159   1590913
16  Month - 17   1182110   1552388   2234469   2180416
17  Month - 18   1770324   1699213   1249821   2364132
18  Month - 19   1181635   1959268   2009168   1821882
19  Month - 20   1305972   1559670   2107949   2151008
20  Month - 21   1570152   2013615   1540016   2265814
21  Month - 22   1481619   1527574   2255729   2295079
22  Month - 23   1887694   1992155   1348387   1459683
23  Month - 24   1880820   1752873   2098463   2052591
24  Month - 25   1256333   1622671   1521792   1695122
25  Month - 26   1422853   1715465   1853636   1520406
26  Month - 27   1384426   1983163   1611169   1289160
27  Month - 28   1616640   1547991   2128022   2178267
28  Month - 29   1310654   1660092   1947119   1854412

In [24]:
#Summary of the dataset
Salesdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Month     29 non-null     object
 1   Zone - A  29 non-null     int64
 2   Zone - B  29 non-null     int64
 3   Zone - C  29 non-null     int64
 4   Zone - D  29 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.3+ KB

**The summary of the dataset shows that there are 29 entries and 5 columns**

In [25]:
# Calculating the null values present in each column of the dataset
Salesdata.isna().sum() # or StudentsPerformance.isnull().sum()

Month       0
Zone - A    0
Zone - B    0
Zone - C    0
Zone - D    0
dtype: int64

**No missing values are present in the dataset**

In [6]:
#Statistical description of the given dataset
Salesdata.describe().T

          count          mean            std  ...        50%        75%        max
Zone - A   29.0  1.540493e+06  261940.061865  ...  1534390.0  1820196.0  2004480.0
Zone - B   29.0  1.755560e+06  168389.885896  ...  1740365.0  1875658.0  2091194.0
Zone - C   29.0  1.772871e+06  333193.724529  ...  1767047.0  2098463.0  2290580.0
Zone - D   29.0  1.842927e+06  375016.479487  ...  1854412.0  2180416.0  2364132.0

[4 rows x 8 columns]

**Qn.  XYZ Company has offices in four different zones. The company wishes to
investigate the following :
● The mean sales generated by each zone.
● Total sales generated by all the zones for each month.
● Check whether all the zones generate the same amount of sales.
Help the company to carry out their study with the help of data provided**

**The mean sales generated by each zone**

In [32]:
Salesdata.mean(numeric_only=True)

Zone - A    1.540493e+06
Zone - B    1.755560e+06
Zone - C    1.772871e+06
Zone - D    1.842927e+06
dtype: float64

In [31]:
Salesdata.mean(numeric_only=True).apply("{0:}".format)

Zone - A    1540493.1379310344
Zone - B    1755559.5862068965
Zone - C    1772871.0344827587
Zone - D    1842926.7586206896
dtype: object

It is clear that the mean sales of Zone-D is highest(1842926.75) and the mean sales of Zone-A is the lowest (1540493.13)

 **Total sales generated by all the zones for each month**

In [33]:
df=Salesdata.groupby('Month').sum()
df['Total Sales']= df.sum(axis=1)
df

            Zone - A  Zone - B  Zone - C  Zone - D  Total Sales
Month
Month - 1    1483525   1748451   1523308   2267260      7022544
Month - 10   1852450   1913059   1754314   1608387      7128210
Month - 11   2004480   1740365   1317869   1970069      7032783
Month - 12   1537539   1875658   1237722   1460165      6111084
Month - 13   1254939   1588473   1348629   1733383      5925424
Month - 14   1821799   1844081   1617376   1872259      7155515
Month - 15   1128185   1804613   1767047   1234311      5934156
Month - 16   1491534   1542053   1882159   1590913      6506659
Month - 17   1182110   1552388   2234469   2180416      7149383
Month - 18   1770324   1699213   1249821   2364132      7083490
Month - 19   1181635   1959268   2009168   1821882      6971953
Month - 2    1238428   1707421   2212113   1994341      7152303
Month - 20   1305972   1559670   2107949   2151008      7124599
Month - 21   1570152   2013615   1540016   2265814      7389597
Month - 22   1481619   1527574   2255729   2295079      7560001
Month - 23   1887694   1992155   1348387   1459683      6687919
Month - 24   1880820   1752873   2098463   2052591      7784747
Month - 25   1256333   1622671   1521792   1695122      6095918
Month - 26   1422853   1715465   1853636   1520406      6512360
Month - 27   1384426   1983163   1611169   1289160      6267918
Month - 28   1616640   1547991   2128022   2178267      7470920
Month - 29   1310654   1660092   1947119   1854412      6772277
Month - 3    1860771   2091194   1282374   1241600      6475939
Month - 4    1871571   1759617   2290580   2252681      8174449
Month - 5    1244922   1606010   1818334   1326062      5995328
Month - 6    1534390   1573128   1751825   2292044      7151387
Month - 7    1820196   1992031   1786826   1688055      7287108
Month - 8    1625696   1665534   2161754   2363315      7816299
Month - 9    1652644   1873402   1755290   1422059      6703395

**Check whether all the zones generate the same amount of sales**

Here, the question is to check the factor, amount of sales for all the different four zones and therefore we need to perform one way ANOVA. Therefore we need to set the hypotheses.

Null Hypothesis,H0:All the zones generate the same amount of sales
Alternate Hypothesis,Ha: All the zones do not generate the same amount of sales

In [34]:
fvalue,pvalue=scp.f_oneway(Salesdata['Zone - A'],Salesdata['Zone - B'],Salesdata['Zone - C'],Salesdata['Zone - D'])
fcriteria=scp.f.ppf(1-0.05,3,112)

In [35]:
fvalue

5.672056106843581

In [36]:
pvalue

0.0011827601694503335

In [37]:
fcriteria

2.6856434512366034

Next step is to Make Decision_ we need to compare f value with fcriteria and also the level of significance value (0.05 if not given) and if p is less than significance level, null hypothesis will be rejected

In [38]:
if fvalue>fcriteria and pvalue<0.05:
   print('Reject H0: All the zones generate the same amount of sales Alternate Hypothesis')
else:
   print('Reject Ha: All the zones do not generate the same amount of sales')

Reject H0: All the zones generate the same amount of sales Alternate Hypothesis

**It is clear from the variance analysis that all the zones do not generate the same amount of sales**